node_modules
yarn.lock
package-lock.json
api.txt
config.json
trade.json
setting.json
last-states.json
master.zip
yarn-error.log
token.json
.vscode
logging.log
build
smart-crypto-al-win.exe
smart-crypto-al-linux
smart-crypto-al-macos
license.json