node_modules
yarn.lock
package-lock.json
api.txt
config.json
trade.json
setting.json
last-states.json
master.zip
yarn-error.log
token.json
.vscode
logging.log
build
3x-capital-bot-win.exe
3x-capital-bot-linux
3x-capital-bot-macos
license.json